<div class="msg-container" *ngIf="showMsg">
  <p
    class="msg"
    [ngClass]="{
      'winner-player': winner === 'You' || winner === 'O' || winner === 'X',
      'winner-computer': winner === 'Computer',
      'winner-draw': winner === 'Draw'
    }"
  >
    {{
      winner === "Draw"
        ? "Game was a Draw."
        : playWithComputer
        ? winner === "You"
          ? "You Win 🎉"
          : "Computer Wins 🤖"
        : "Winner is " + winner
    }}
  </p>
  <button class="new-btn" (click)="resetGame()">New Game</button>
</div>

<main>
  <div class="deflex">
    <h1>Tic Tac Toe</h1>

    <button class="reset-btn" (click)="resetGame()">Reset Game</button>
  </div>
  <div class="container">
    <div class="game">
      <button
        class="box"
        *ngFor="let val of boxes; let i = index"
        [disabled]="val || winner"
        (click)="handleClick(i)"
      >
        {{ val }}
      </button>
    </div>
  </div>
</main>
