.desktop {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  position: relative;
  font-family: "Segoe UI", sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 70px;
  cursor: grab;
  z-index: 10;
}

.icon:active {
  cursor: grabbing;
}

.cdk-drag-preview {
  display: none !important;
}

.icon img:hover {
  transform: scale(1.1);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
