<div class="calendar">
  <div class="calendar-header">
    <button (click)="navigateMonth('prev')">⟨</button>
    <h2>
      {{ monthNames[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}
    </h2>
    <button (click)="navigateMonth('next')">⟩</button>
  </div>

  <div class="weekdays">
    <div *ngFor="let day of dayNames">{{ day }}</div>
  </div>
  <div class="calendar-grid">
    <div
      *ngFor="let day of days"
      class="day-cell"
      [class.today]="day && isToday(day)"
      (click)="day && selectDate(day)"
    >
      <div *ngIf="day">
        {{ day.getDate() }}
        <div
          *ngFor="let event of getEventsForDate(day)"
          class="event"
          [style.background]="getEventColor(event.type)"
        >
          {{ event.title }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedDate" class="sidebar">
    <h3>{{ selectedDate | date : "fullDate" }}</h3>

    <div *ngFor="let event of getEventsForDate(selectedDate)">
      <strong>{{ getEventEmoji(event.type) }} {{ event.title }}</strong> -
      {{ event.time }}
      <p *ngIf="event.description">{{ event.description }}</p>
    </div>

    <hr />
    <h4>{{ editingEventId ? "Edit Event" : "Add Event" }}</h4>
    <form (ngSubmit)="addEvent()">
      <input
        type="text"
        [(ngModel)]="newEvent.title"
        name="title"
        placeholder="Title"
        required
      />
      <input type="time" [(ngModel)]="newEvent.time" name="time" required />
      <select [(ngModel)]="newEvent.type" name="type" required>
        <option value="meeting">Meeting</option>
        <option value="work">Work</option>
        <option value="personal">Personal</option>
        <option value="reminder">Reminder</option>
      </select>
      <textarea
        [(ngModel)]="newEvent.description"
        name="description"
        placeholder="Description"
      ></textarea>
      <button type="submit" (click)="saveToStorage()">Add</button>
    </form>
    <button (click)="closeSidebar()" title="Close" class="Close">❌</button>
  </div>
</div>
