<div class="desktop">
  <img [src]="currentBackground" alt="Background" class="desktop-bg" />

  <!-- App Icons -->
  <div
    class="app-icon"
    *ngFor="let app of apps"
    [style.left.px]="app.position?.x"
    [style.top.px]="app.position?.y"
    (mousedown)="startAppDrag($event, app)"
    (dblclick)="openApp(app)"
  >
    <span class="icon">{{ app.icon }}</span>
    <span class="label">{{ app.name }}</span>
  </div>

  <!-- Windows -->
  <div
    class="window"
    *ngFor="let win of openWindows"
    [class.small-resize]="win.id === 'calendar' || win.id === 'settings'"
    [class.resizing]="win.isResizing"
    [style.top.px]="win.position.y"
    [style.left.px]="win.position.x"
    [style.zIndex]="win.zIndex"
    [style.width.px]="win.size.width"
    [style.height.px]="win.size.height"
    [style.display]="isVisible(win) ? 'block' : 'none'"
    [class.maximized]="win.isMaximized"
  >
    <div class="title-bar" (mousedown)="startDrag($event, win)">
      <div class="title">
        <span>{{ win.icon }}</span> <span>{{ win.title }}</span>
      </div>
      <div class="controls">
        <button (click)="minimizeWindow(win.id)">_</button>
        <button (click)="maximizeWindow(win.id)">☐</button>
        <button class="cansel" (click)="closeWindow(win.id)">×</button>
      </div>
    </div>

    <div class="window-content">
      <ng-container
        *ngComponentOutlet="componentMap[win.componentId]"
      ></ng-container>
    </div>

    <!-- Resize Handles -->
    <div
      class="resize-handle resize-top"
      (mousedown)="startResize($event, win, 'top')"
    ></div>
    <div
      class="resize-handle resize-right"
      (mousedown)="startResize($event, win, 'right')"
    ></div>
    <div
      class="resize-handle resize-bottom"
      (mousedown)="startResize($event, win, 'bottom')"
    ></div>
    <div
      class="resize-handle resize-left"
      (mousedown)="startResize($event, win, 'left')"
    ></div>
    <div
      class="resize-handle resize-top-left"
      (mousedown)="startResize($event, win, 'top-left')"
    ></div>
    <div
      class="resize-handle resize-top-right"
      (mousedown)="startResize($event, win, 'top-right')"
    ></div>
    <div
      class="resize-handle resize-bottom-left"
      (mousedown)="startResize($event, win, 'bottom-left')"
    ></div>
    <div
      class="resize-handle resize-bottom-right"
      (mousedown)="startResize($event, win, 'bottom-right')"
    ></div>
  </div>
</div>

<!-- Taskbar -->
<div class="taskbar">
  <app-taskbar
    [apps]="apps"
    [openedWindows]="openWindows"
    (selectWindow)="focusWindow($event.id)"
    (openApp)="openApp($event)"
    (openAppById)="openAppById($event)"
    (toggleMinimize)="toggleWindowMinimize($event)"
    style="
      display: flex;
      justify-content: space-between;
      width: 99%;
      height: 30px;
    "
  ></app-taskbar>
</div>
